//palette
$DARKBLUE: rgb(1, 93, 130);
$BLUE: rgb(0, 130, 168);
$LIGHTBLUE: rgb(0, 159, 178);
$BIOTEXT: rgb(193, 219, 229);
$ORANGE: rgb(240, 128, 43);
$WHITE: rgb(215, 244, 255);

body {
  background-color: $DARKBLUE;
  color: $WHITE;
  text-align: center;
}

hr {
  border-color: $LIGHTBLUE;
}

.jumbotron {
  margin-top: 2vh;
  background-color: $BLUE;
  color: $ORANGE;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: auto;
  // border: 1px solid blue;
}

.right:before {
    content:'';
    width:80%;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    background:linear-gradient(transparent 250px, $DARKBLUE);
}

.profile {
  background-color: $BLUE;
  border: 3px double $ORANGE;
  box-shadow: 1px 1px black;
  text-align: center;
  height: 300px;
  position: relative;
  overflow:hidden;
  text-overflow: ellipsis;
  content: "";
  position:relative;
  span {
    flex: 1 20%;
  }
  p {
    flex: 1 20%;
  }
  img {
    align-self: center;
    flex: 1 50%;
  }
  .left {
    // border: 1px solid green;
    box-shadow: 10px 0 5px -5px $DARKBLUE;
    height: 300px;
    width: 20%;
    padding: 5px;
    float: left;
    span {
      font-size: 1.2em;
    }
  }
  .right {
    margin-left: 3%;
    color: $BIOTEXT;
    text-align: left;
    width: 77%;
    padding: 5px;
    // border: 1px solid red;
    float: left;

  }
}
